.divglavni{
  margin: 20px;
  width: 300px;
  height: 430px;
  color: antiquewhite;
  border: 1px solid black;
}
.div1{
  height: 30px;
   width: 250px;
   color: brown;
   border: 1px solid black;
   text-align: center;
   align-items: center;
   margin: 20px;
   background-color: cyan;  
  }

.div2{
  height: 30px;
   width: 250px;
   color: brown;
   border: 1px solid black;
   text-align: center;
   align-items: center;
   margin: 20px;
   background-color: cyan;
}

.divchild1{
  height: 30px;
   width: 100px;
   color: brown;
   border: 1px solid black;
   text-align: center;
   align-items: center;
   margin: 20px;
}

.div3{
  display: flex;

}

.divchild2{
  height: 30px;
   width: 100px;
   color: brown;
   border: 1px solid black;
   text-align: center;
   align-items: center;
   margin: 20px;
}

.button{
  color: antiquewhite;
  background-color: rgba(137, 43, 226, 0.552);
  height: 30px;
  width: 250px;
 margin: 20px;
 font-family: cursive;
 border-radius: 5px;
 border: 1px solid rgb(112, 104, 223);
}

.img{
  width: 260px;
  margin-left: 20px;
margin-right: 20px;
}